---
import Button from "@ui/Button.astro";

const title = "Turning Silence into Strength. Empowering Women Across Northern Nigeria.";
const subTitle =
  "WAR Initiative is a nonprofit organization fighting Sexual and Gender-Based Violence (SGBV) by educating, advocating, and providing safe spaces for survivors. Join us in building a just and inclusive society where every woman knows her rights — and uses them.";
const secondaryCTA = { text: "Join the Movement", href: "/join" };
const primaryCTA = { text: "Donate Now", href: "/donate" };
---

{/* Hero Content */}
<div class="mx-auto max-w-4xl select-none text-left sm:text-center">
  <h1
    class="block text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
  >
    {title}
  </h1>
</div>

<div class="mx-auto max-w-3xl text-left sm:text-center">
  <p class="text-pretty text-lg text-slate-700">
    {subTitle}
  </p>
</div>

{/* CTA Buttons */}
<div class="flex flex-col justify-center gap-5 sm:flex-row">
  <Button href={secondaryCTA.href} variant="secondary">{secondaryCTA.text}</Button>
  <Button href={primaryCTA.href} variant="primary">{primaryCTA.text}</Button>
</div>
